<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header.ejs') %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>home</title>
</head>

<%- include('nav.ejs') %>

    <body>

        <section class="bg-info pt-5 pb-5 mb-10">

            <div class="container p-6">
                <h1 class="text-center p-3">Community </h1>

                <div style="width: 50%; align-self: center;" class="container mb-3">
                    <form action="/donate/<%=community._id.toString()%>" method="post" class="bd-search hidden-sm-down small" enctype="multipart/form-data">
                        <input type="number" class="form-control bg-graylight border-0 font-weight-bold" id="amount" name="amount" placeholder="amount" autocomplete="off">

                        <br>

                        <div class="d-flex justify-content-center">
                            <button class="btn-secondary btn mx-auto btn-lg" type="submit"> Donate </button>
                        </div>
                    </form>
                </div>

            </div>
        </section>


        <section>
            <% if (movements) { %>
                <h4> Movements </h4>
                <div class="container mb-3" style="max-width: 25rem;">
                    <% movements.forEach(movement=> { %>
                        <%- include('movementPane.ejs', {movement : movement, user : user}) %>
                            <% }) %>
                </div>
                <% } else { %>
                    <div class="container">
                        <h1> No Movements</h1>
                    </div>
                    <% } %>
                        </div>
        </section>

    </body>

</html>