<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header.ejs') %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>

<body>

    <%- include('nav.ejs') %>
        <section class="bg-info pt-5 pb-5 mb-10">

            <div class="container p-6">
                <h1 class="text-center p-3">Create a Movement!</h1>
                <form action="/create" method="post" class="bd-search hidden-sm-down small">
                    <input type="text" class="form-control bg-graylight border-0 font-weight-bold" id="name" name="name"
                        placeholder="Name" autocomplete="off">
                    <br>
                    <br>
                    <input type="text" class="form-control bg-graylight border-0 font-weight-bold" id="description"
                        name="description" placeholder="description" autocomplete="off">
                    <br>
                    <input type="number" class="form-control bg-graylight border-0 font-weight-bold" id="goal"
                        name="goal" placeholder="goal" autocomplete="off">
            </div>

            <div class="container w-25 mt-5">
                <h4>Select Community</h4>
                <% communities.forEach(c=> { %>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="community" id="exampleRadios1" value=<%-
                            c._id %>
                        checked>
                        <label class="form-check-label" for="exampleRadios1">
                            <%= c.name %>
                        </label>
                    </div>
                    <%}) %>
            </div>
            <br>
            <br>
            <br>
            <div class="d-flex justify-content-center">
                <button class="btn-secondary btn mx-auto btn-lg" type="submit"> Create </button>
            </div>
            </form>

        </section>

</body>

</html>