<!-- <div>
            <% locals.ambassadors.forEach((ambassador)=> { %>
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Ambassador Highlight</div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <% ambassador.name %>
                                <h5>
                                    <p class="card-text">
                                        <% ambassador.bio %>
                                    </p>
                    </div>
                </div>
                <% }) %>
        </div> -->


<!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% communities.forEach(c=> {%>
                    <a class="dropdown-item" href="#">
                        <%=c.name%>
                    </a>
                    <%}) %> -->