<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header.ejs') %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>index</title>
</head>

<body>

    <%- include('nav.ejs') %>

        <h1> HELLO</h1>

</body>

</html>