<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header.ejs') %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>sign in</title>
</head>

<body>
    <%- include('nav.ejs') %>
        <section class="bg-gray200 pt-5 pb-5 mb-10">

            <div class="container p-6">
                <form action="/signin" method="post" class="bd-search hidden-sm-down small ">

                    <input type="text" class="form-control bg-graylight border-0 font-weight-bold" name="email" id="email" placeholder="Email" autocomplete="off">
                    <br>
                    <input type="password" class="form-control bg-graylight border-0 font-weight-bold" name="password" id="password" placeholder="Password" autocomplete="off">
                    <br>
                    <br>
                    <button class="btn-indigo btn btn" type="submit"> Sign in </button>


                </form>

            </div>



            </div>
        </section>
</body>

</html>