<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
</head>

<body>


    <section class="bg-gray200 pt-5 pb-5 mb-10">

        <div class="container p-6">
            <form action="signup" method="post" class="bd-search hidden-sm-down small">
                <input type="text" class="form-control bg-graylight border-0 font-weight-bold" id="name" name="name" placeholder="Name" autocomplete="off">
                <br>
                <input type="email" class="form-control bg-graylight border-0 font-weight-bold" id="email" name="email" placeholder="Email" autocomplete="off">
                <br>
                <input type="password" class="form-control bg-graylight border-0 font-weight-bold" id="password" name="password" placeholder="Password" autocomplete="off">
                <br>
                <input type="password" class="form-control bg-graylight border-0 font-weight-bold" id="password2" name="password2" placeholder="Confirm Password" autocomplete="off">
                <br>
                <input type="text" class="form-control bg-graylight border-0 font-weight-bold" id="bio" name="bio" placeholder="Bio..." autocomplete="off">
                <br>
                <br>
                <button class="btn-indigo btn" type="submit"> Sign up </button>


            </form>

        </div>
    </section>



</body>

</html>